.app-breadcrumbs {
  width: 100%;

  &__list {
    @include flexy(flex-start, center);
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;
  }

  &__item {
  }

  &__delimiter {
    margin: 0 0.5em;
  }

  &__link {
    color: $color--text;
    text-decoration: none;

    &.home {
      .icon {
        font-size: 24px;
      }
    }

    &.is-active {
      pointer-events: none;
      opacity: 0.8;
    }
  }
}