.svg-sprite {
	display: none;;
}
svg {
	display: inline-block;
	@include size(1em);
	color: inherit;
	vertical-align: middle;
	
	use {
		fill: currentColor;
		color: inherit;
	}
	
	&.no-fill use {
		fill: none;
		stroke: currentColor;
		
	}
	&.stroke-2 use {
		stroke-width: 2;
		stroke: currentColor;
	}
}

.icon {
	&--placeholder {
		@include flexy(center, center);
		border: 1px solid currentColor;
		font: bold 13px $font--base;
	}
}